.experience {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experience .subtitle {
  color: #969696;
}

.experience-text {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #525252;
  text-align: justify;
}

.experience-text strong {
  color: #141414;
}

.work {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.work::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd9a);
  position: absolute;
  top: 20px;
  left: -4px;
}

.work-year {
  position: absolute;
  top: 20px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
}

.work-title {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 700;
}

.work-text {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
  text-align: justify;
}

.work-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.work-skills li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  padding: 5px 10px;
}

@media (max-width: 800px) {
  .experience {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experience .subtitle {
    color: #141414;
  }
  .experience-text {
    font-size: 1.25rem;
    max-width: initial;
    text-align: justify;
  }
  .work-year {
    position: initial;
    order: 1;
    width: initial;
    text-align: left;
    font-style: italic;
  }
}

@media (max-width: 400px) {
  .work {
    grid-template-columns: 1fr;
  }
}
