.footer {
  background-color: #000;
}

.footer-wrapper {
  padding: 120px 20px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}

.footer-text {
  font-size: 4rem;
  line-height: 1.33;
  color: #ccc;
  font-weight: bold;
}

.footer-contact li {
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 30px;
}

.footer-contact li a {
  color: #fff;
  text-decoration: underline;
}

.footer-copy {
  grid-column: 1/ -1;
  font-size: 1.125rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contact li {
    font-size: 1.5rem;
  }
}
