.skills {
  background-color: #201f1f;
  color: #fff;
}

.skills-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.skills-wrapper::after {
  content: '';
  display: block;
  width: 130px;
  height: 100px;
  /* background: url('../img/detalhe.svg') no-repeat center; */
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.skills .subtitle {
  color: #5a5959;
  max-width: 5ch;
}

.skills-text {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #a3a3a3;
}

.skills-text strong {
  color: #fff;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.skills-item {
  background-color: #000;
  padding: 20px;
  border-radius: 4px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.skills-title {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
  word-break: keep-all;
}

.skills-course {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}

.skills-course::before {
  content: '';
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd9a);
  position: absolute;
  left: -24px;
}

.skills-institution {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.skills-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.skills-extra h3::before {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: -36px;
  top: -4px;
}

.skills-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.skills-extra span {
  color: #8f8f8f;
}

.courses {
  margin-bottom: 60px;
}

.courses h3::before {
  background: url('../img/cursos.svg') no-repeat center center;
}

.courses li {
  display: flex;
  justify-content: space-between;
}

.languages h3::before {
  background: url('../img/idiomas.svg') no-repeat center center;
}

.skill {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  padding: 20px;
  background-color: #0b0a0a;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.skill-list {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: 700;
}


@media (max-width: 800px) {
  .skills-wrapper {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .skills .subtitle {
    color: #fff;
  }
  .skills-text {
    font-size: 1.25rem;
  }
  .skills-extra h3::before {
    position: static;
    margin-bottom: 10px;
  }
}
